<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>referaly.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>64979CB0FF5FA3AB97CAE74664A0F107C6B6DA53</string>
				<key>dateExpires</key>
				<string>07/03/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>64979CB0FF5FA3AB97CAE74664A0F107C6B6DA53</string>
						<key>dateExpires</key>
						<string>07/03/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7D2664L4CV</string>
						<key>name</key>
						<string>Hemang Bavishi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7D2664L4CV.com.referaly</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7D2664L4CV</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>referaly.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d1d2d3e1-5ccd-44a8-90f7-b1244c375579</string>
				<key>dateExpires</key>
				<string>14/03/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7D2664L4CV</string>
				<key>name</key>
				<string>Hemang Bavishi</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
